*.beam
_rel
*.log
_build
relx
.erlang.mk
priv/static/layim
ebin
*.local.*
*.prod.*
.imboy.plt
deps
priv/static/layim*
nginx_img.conf
deps.23
deps.24
efmt
logs
.efmt
erldash
*.d
erl_crash.dump
rebar3.crashdump
