*.beam
_rel
*.log
_build
relx
.erlang.mk
priv/static/layim
ebin
*bak*.config
*local*.config
*prod*.config
*local*.args
*prod*.args
.imboy.plt
priv/static/layim*
nginx_img.conf
deps
deps.23
deps.24
efmt
logs
.efmt
erldash
*.d
erl_crash.dump
rebar3.crashdump
Mnesia.nonode@nohost
elvis
rebar.lock
docker/pg_jieba
docker/timescaledb
priv/ssl
install_erlang_for_m1.sh
docker/img_fastdfs_data
docker/pgsql15data
docker/imboy_pg15
imboy_v1.sql
*pro*
.pgsync.yml
schema_diff.sql
sys.dev.config
docker/imboy_pg16
relxnode1.config
relxnode2.config
config/vm.node1.args
config/vm.node2.args
