# docker network create imboy-network
# docker-compose -f docker-compose.yml up -d
version: "3.8"
services:
  imboy_pg15:
    image: imboy/imboy-pg:15.3.4.2.dev.7
    container_name: imboy_pg15
    hostname: pg.docker.imboy.pub
    restart: unless-stopped # 指定容器退出后的重启策略为始终重启，但是不考虑在Docker守护进程启动时就已经停止了的容器
    environment: # 设置环境变量,相当于docker run命令中的-e
      TZ: Asia/Shanghai
      LANG: en_US.UTF-8
      POSTGRES_USER: imboy_user
      POSTGRES_PASSWORD: abc54321
      POSTGRES_DB: imboy_v1
    volumes: # 数据卷挂载路径设置,将本机目录映射到容器目录
      - "./docker/imboy_pg15:/var/lib/postgresql/data"
    ports: # 映射端口
      - "9820:5432"
    deploy:
      resources:
        limits:
          memory: 800M
        reservations:
          memory: 800M
    mem_limit: 800M
    memswap_limit: 2g

  imboy_fastdfs:
    image: sjqzhang/go-fastdfs
    container_name: imboy_fastdfs
    hostname: a.docker.imboy.pub
    restart: unless-stopped # 指定容器退出后的重启策略为始终重启，但是不考虑在Docker守护进程启动时就已经停止了的容器
    environment: # 设置环境变量,相当于docker run命令中的-e
      TZ: Asia/Shanghai
      LANG: en_US.UTF-8
      GO_FASTDFS_DIR: /data
    volumes: # 数据卷挂载路径设置,将本机目录映射到容器目录
      - "/data/docker/img_fastdfs_data:/data"
    ports: # 映射端口
      - "9830:8080"
    deploy:
      resources:
        limits:
          memory: 400M
        reservations:
          memory: 400M
    mem_limit: 400M
    memswap_limit: 2g

  imboy_eturnal:
    # https://github.com/processone/eturnal/blob/master/examples/docker-compose/docker-compose.yml
    image: ghcr.io/processone/eturnal:latest
    container_name: imboy_eturnal # 容器名为'imboy_eturnal'
    hostname: eturnal.docker.imboy.pub
    restart: unless-stopped # 指定容器退出后的重启策略为始终重启，但是不考虑在Docker守护进程启动时就已经停止了的容器
    ### security options
    read_only: true
    cap_drop:
      - ALL
    cap_add:
      - NET_BIND_SERVICE
    ### Note: if eturnal binds to privileged ports (<1024) directly, the option "security_opt" below must be commented out.
    security_opt:
      - no-new-privileges:true
    ### Environment variables - information on https://eturnal.net/doc/#Environment_Variables
    # 设置环境变量,相当于docker run命令中的-e
    environment:
      TZ: Asia/Shanghai
      LANG: en_US.UTF-8
      ETURNAL_RELAY_MIN_PORT: 50000
      ETURNAL_RELAY_MAX_PORT: 50500
      # - ETURNAL_RELAY_IPV4_ADDR="203.0.113.4"
      # - ETURNAL_RELAY_IPV6_ADDR="2001:db8::4"
      # - STUN_SERVICE="false"
    # env_file:
    #   - eturnal.env
    ### Volume mounts - Note: directories/files must be (at least) readable by the eturnal user (9000:9000)
    # volumes:
    #   - /path/to/eturnal.yml:/etc/eturnal.yml:ro # for custom config file
    #   - /path/to/tls-files:/opt/eturnal/tls      # for custom tls files
    ports: # 映射端口
      - "9840:3478"
      - "9840:3478/udp"
      - "50000-50500:50000-50500/udp"
    # network_mode: "host"

  # imboy_api:
  #   image: imboy/imboy-api:dev
  #   container_name: imboy_api # 容器名为'imboy_api'
  #   hostname: api.docker.imboy.pub
  #   links:
  #     - imboy_postgis
  #     - imboy_fastdfs
  #   depends_on:
  #     - imboy_fastdfs
  #     - imboy_postgis
  #   restart: unless-stopped # 指定容器退出后的重启策略为始终重启，但是不考虑在Docker守护进程启动时就已经停止了的容器
  #   environment: # 设置环境变量,相当于docker run命令中的-e
  #     TZ: Asia/Shanghai
  #     LANG: en_US.UTF-8
  #   volumes: # 数据卷挂载路径设置,将本机目录映射到容器目录
  #     #- "./docker/imboy_api1_vm.args:/www/wwwroot/imboy-api/config/vm.args"
  #     - "./docker/imboy_api_sys.config:/www/wwwroot/imboy-api/config/sys.config"
  #   ports: # 映射端口
  #     - "9810:9800"
  #     - "9811:9801"
  #   working_dir: /www/wwwroot/imboy-api
  #   command: ["make", "run"]

  # imboy_api2:
  #   image: imboy/imboy-api:dev
  #   container_name: imboy_api2 # 容器名为'imboy_api'
  #   hostname: api2.docker.imboy.pub
  #   links:
  #     - imboy_postgis
  #     - imboy_fastdfs
  #   depends_on:
  #     - imboy_fastdfs
  #     - imboy_postgis
  #   restart: unless-stopped # 指定容器退出后的重启策略为始终重启，但是不考虑在Docker守护进程启动时就已经停止了的容器
  #   environment: # 设置环境变量,相当于docker run命令中的-e
  #     TZ: Asia/Shanghai
  #     LANG: en_US.UTF-8
  #   volumes: # 数据卷挂载路径设置,将本机目录映射到容器目录
  #     - "./docker/imboy_api2_vm.args:/www/wwwroot/imboy-api/config/vm.args"
  #     - "./docker/imboy_api_sys.config:/www/wwwroot/imboy-api/config/sys.config"
  #   ports: # 映射端口
  #     - "9812:9800"
  #     - "9813:9801"
  #   working_dir: /www/wwwroot/imboy-api
  #   command: ["make", "run"]

networks:
  default:
    external: true
    name: imboy-network
