%% Erlang LS configuration file for IMBoy project

{deps_dirs, [
  "deps/*",
  "_build/default/lib/*"
]}.

{include_dirs, [
  "include",
  "apps/*/include"
]}.

{otp_path, "/opt/homebrew/lib/erlang"}.

{plt_path, "_build/default/rebar3_*/erlang_ls_*.plt"}.

{code_reload, {enabled, true}}.

{diagnostics, [
  {enabled, true},
  {disabled, []}
]}.

{lenses, [
  {enabled, true},
  {disabled, []}
]}.

{providers, [
  {enabled, all},
  {disabled, []}
]}.

{macros, []}.