{deps, [
    {jsone,".*",{git,"https://gitee.com/imboy-tripartite-deps/jsone","1.8.0"}}
    , {ranch,".*",{git,"https://gitee.com/imboy-tripartite-deps/ranch.git","2.1.0"}}
    , {cowlib,".*",{git,"https://gitee.com/imboy-tripartite-deps/cowlib","2.12.1"}}
    , {cowboy,".*",{git,"https://gitee.com/imboy-tripartite-deps/cowboy","2.10.0"}}
    , {jwerl,".*",{git,"https://gitee.com/imboy-tripartite-deps/jwerl","1.2.0"}}
    , {hashids,".*",{git,"https://gitee.com/imboy-tripartite-deps/hashids-erlang","1.0.5"}}
    , {gen_smtp,".*",{git,"https://gitee.com/imboy-tripartite-deps/gen_smtp","1.2.0"}}
    , {throttle,".*",{git,"https://gitee.com/imboy-tripartite-deps/throttle.git","0.3.0"}}
    , {qdate,".*",{git,"https://gitee.com/imboy-tripartite-deps/qdate","master"}}
    , {qdate_localtime,".*",{git,"https://gitee.com/imboy-tripartite-deps/qdate_localtime","1.2.1"}}
    , {goldrush,".*",{git,"https://gitee.com/imboy-tripartite-deps/goldrush","0.2.0"}}
    , {datum,".*",{git,"https://gitee.com/imboy-tripartite-deps/datum.git","4.6.1"}}
    , {epgsql,".*",{git,"https://gitee.com/imboy-tripartite-deps/epgsql.git","4.7.1"}}
    , {pooler,".*",{git,"https://gitee.com/imboy-tripartite-deps/pooler.git","1.6.0"}}
    , {depcache,".*",{git,"https://gitee.com/imboy-tripartite-deps/depcache.git","master"}}
    , {syn,".*",{git,"https://gitee.com/imboy-tripartite-deps/syn.git","3.3.0"}}
    , {ecron,".*",{git,"https://gitee.com/imboy-tripartite-deps/ecron.git","v0.6.1"}}
    , {telemetry,".*",{git,"https://gitee.com/imboy-tripartite-deps/telemetry.git","v1.2.1"}}
    , {lager,".*",{git,"https://gitee.com/imboy-tripartite-deps/lager","3.9.2"}}
    , {observer_cli,".*",{git,"https://gitee.com/imboy-tripartite-deps/observer_cli.git","1.7.4"}}
    , {recon,".*",{git,"https://gitee.com/imboy-tripartite-deps/recon.git","2.5.4"}}
    , {redbug,".*",{git,"https://gitee.com/imboy-tripartite-deps/redbug.git","2.0.7"}}
    , {sync,".*",{git,"https://gitee.com/imboy-tripartite-deps/sync.git","v0.4.1"}}
    , {ersip,".*",{git,"https://gitee.com/imboy-tripartite-deps/ersip.git","master"}}
    , {rtps,".*",{git,"https://gitee.com/imboy-tripartite-deps/rtps.git","master"}}
]}.
{erl_opts, [debug_info,warn_export_vars,warn_shadow_vars,warn_obsolete_guard,{parse_transform,lager_transform}]}.
