{erl_opts, [debug_info]}.
% http://rebar3.org/docs/configuration/dependencies/
{deps, [
  {gen_smtp, {git, "https://gitee.com/imboy-tripartite-deps/gen_smtp", {tag, "1.2.0"}}},
  {goldrush, {git, "https://gitee.com/imboy-tripartite-deps/goldrush", {tag, "0.1.9"}}},
  {hashids, {git, "https://gitee.com/imboy-tripartite-deps/hashids-erlang", {tag, "1.0.5"}}},
  {hut, {git, "https://gitee.com/imboy-tripartite-deps/hut", {tag, "v1.3.0"}}},
  {jsone, {git, "https://gitee.com/imboy-tripartite-deps/jsone", {tag, "1.7.0"}}},
  {jsx, {git, "https://gitee.com/imboy-tripartite-deps/jsx", {tag, "2.9.0"}}},
  {jwerl, {git, "https://gitee.com/mirrors_emqx/jwerl", {tag, "1.1.1"}}},
  {lager, {git, "https://gitee.com/imboy-tripartite-deps/lager", {tag, "3.9.2"}}},
  {mysql, {git, "https://gitee.com/imboy-tripartite-deps/mysql-otp", {tag, "1.7.0"}}},
  {poolboy, {git, "https://gitee.com/imboy-tripartite-deps/poolboy", {tag, "1.5.2"}}},
  {ranch, {git, "https://gitee.com/imboy-tripartite-deps/ranch", {tag, "1.8.0"}}},
  {observer_cli, {git, "https://gitee.com/imboy-tripartite-deps/observer_cli", {tag, "1.7.3"}}},
  {recon, {git, "https://gitee.com/imboy-tripartite-deps/recon", {tag, "2.5.1"}}},
  {depcache, {git, "https://gitee.com/imboy-tripartite-deps/depcache", {branch, "master"}}},
  {stun, {git, "https://gitee.com/imboy-tripartite-deps/stun.git", {branch, "dev"}}},
  {syn, {git, "https://gitee.com/imboy-tripartite-deps/syn.git", {tag, "3.3.0"}}},
  {cowboy, {git, "https://gitee.com/imboy-tripartite-deps/cowboy", {tag, "2.9.0"}}},
  {cowlib, {git, "https://gitee.com/imboy-tripartite-deps/cowlib", {tag, "2.11.0"}}}
]}.

{plugins, [rebar3_appup_plugin]}.
{provider_hooks, [
  {pre, [{tar, {appup, tar}}]},
  {post, [
    {compile, {appup, compile}},
    {clean, {appup, clean}}
  ]}
]}.
{shell, [
    {config, "config/sys.local.config"},
    {apps, [imboy]}
]}.
