{release, {imboy, "0.6.1"}, [
    imboy
    , sasl, runtime_tools, mnesia
    , observer
]}.

% the extended_start_script option to tell Relx that we would like to have a start script that allows us to not only start the release, but do so with the node in the background, or also to allow us to connect to a running node, and so on. This start script has the same features as the one tools like Rebar generates.
{dev_mode, true}.
{extended_start_script, true}.
{sys_config, "config/sys.config"}.
{vm_args, "config/vm.args"}.
