{% include 'layout/layout_header.html' %}
<!-- 顶部导航区域 -->
{% include 'layout/layout_nav.html' %}
<!-- 左侧导航区域 -->
{% include 'layout/layout_menu.html' %}

<div class="layui-bg-gray" style="padding: 16px;">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header">会话统计</div>
        <div class="layui-card-body">
          在线总人数 {{ coversation_online_user }}<br/>
          在线设备数 {{ coversation_online_device }}
        </div>
      </div>
    </div>

    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header">卡片面板</div>
        <div class="layui-card-body">
          结合 layui 的栅格系统<br>
          轻松实现响应式布局
        </div>
      </div>
    </div>
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header">卡片面板</div>
        <div class="layui-card-body">
          结合 layui 的栅格系统<br>
          轻松实现响应式布局
        </div>
      </div>
    </div>
    <div class="layui-col-md6">
      <div class="layui-card">
        <div class="layui-card-header">卡片面板</div>
        <div class="layui-card-body">
          结合 layui 的栅格系统<br>
          轻松实现响应式布局
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'layout/layout_footer.html' %}
