[
    {imboy, [
        % http服务端口
        {http_port, 9800}
        , {host, '_'}
        , {imboy_cipher_key, "hrvUm#>vK9/c@'a`>reT4`!B)e?P]+xA3.]X6.xC"}

        , {register_switch, <<"on">>}
        , {register_off_tips, ""}

        , {sms, [
            {switch, <<"off">>}
            , {default_code, <<"6666">>}
            , {platform, <<"aliyun">>}
            , {<<"aliyun">>, [
                {sign_name, <<"xxx"/utf8>>}
                , {template_code, <<"">>}
                , {key_id, <<"">>}
                , {key_secret, <<"">>}
                , {region_id, <<"cn-shenzhen">>}
            ]}
        ]}

        , {sqlpoolboy, [
            {name, mysql}
            , {pool_sql, [
                {name, {local, mysql}},
                {worker_module, mysql},
                {size, 10},
                {max_overflow, 10}
            ]}
            , {sql_conf, [
                %local
                {host, "127.0.0.1"},
                {port, 3306},
                {user, "db_imboy"},
                {password, "123456"},
                {database, "db_imboy"}
            ]}
        ]}
    ]}

    %% Lager Bein %%%
    , {kernel, [{start_timer, true}]}

    , {sasl, [
        {utc_log, true},
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 104857600},   % 100 MB max file size
        {error_logger_mf_maxfiles, 255}           % 255 files max
    ]}

    , {lager, [
        {log_root, "./log"}
        %% What handlers to install with what arguments
        , {handlers, [
            {lager_console_backend, info}
            , {lager_file_backend, [
                {file, "error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 999}]},
                {lager_file_backend, [
                {file, "info.log"}, {level, info}, {size, 10485760}, {date, "$D0"}, {count, 999}]}
            ]}
            %% Whether to write a crash log, and where. Undefined means no crash logger.
            , {crash_log, "crash.log"}
            , {error_logger_hwm, 999}
    ]}
    %% Lager End %%%
].
