[
    {imboy, [
        % http服务端口
        {http_port, 9800}
        , {http_port_adm, 9806}
        %, {host, <<"local.imboy.pub">>}
        , {host, '_'}
        % start_mode 包含的值 quic | tls | http_tls | http
        , {start_mode, tls}
        %, {cacertfile, "/ssl/dev.imboy.pub_chain.csr"}
        %, {certfile, "/ssl/dev.imboy.pub_public.crt"}
        %, {keyfile, "/ssl/dev.imboy.pub.key"}
        , {cacertfile, "/ssl/chain.csr"}
        , {certfile, "/ssl/public.crt"}
        , {keyfile, "/ssl/server.key"}

        , {eturnal_secret, <<"crypt1c">>}
        , {eturnal_uris, [<<"turn:dev.imboy.pub:34780?transport=udp">>]}
        , {imboy_cipher_key, "hrvUm#>vK9/c@'a`>reT4`!B)e?P]+xA3.]X6.xC"}

        , {api_auth_switch, on} % on | off
        , {auth_keys, [
            % {场景值binary, 场景对应的密钥字符串，为128比特，也就是16字节}
            %
            {<<"dev">>, "Bce?Pd+xA1.]a6xC"}
            , {<<"open">>, "Bce?Pd+xA1.]a6xC"}
            % Dart语言对特殊字符支持不是很友好，避免特殊字符
            % 与APP端约定的，用于服务端和APP交互数据对称加密的密钥 32 字符
            % {VsnMajor, "32为solidified_key"}
            , {<<"0">>, "rPWaWDXmXwmNBCes8Dm94RhFBkwZFtnX"}
        ]}
        % Dart语言对特殊字符支持不是很友好，避免特殊字符
        % IV 必须都为128比特，也就是16字节
        , {solidified_key_iv, ""}

        , {hashids_salt, "cVQtrKNa"}
        , {jwt_key, <<"Ap2fQm5aBgE8Qzuar6oixYmXpffcL3yw">>}
        , {password_salt, <<"Ap2fQm5aBgE8Qzuar6oixYmXpffcL3yw">>}
        % 用于postgresql 存储数据的AES密钥 Key binary 32
        , {postgre_aes_key, <<>>}
        , {register_switch, on}
        , {register_off_tips, <<>>}

        % smtp 配置参考 https://github.com/gen-smtp/gen_smtp
        , {smtp_option, [
            {relay, "smtp.qq.com"}
            , {ssl, true}
            , {auth,always}
            , {trace_fun, fun io:format/2}
            , {username, ""}
            , {password, ""}
        ]}

        , {sms, [
            {switch, <<"off">>}
            , {default_code, <<"6666">>}
            , {platform, <<"aliyun">>}
            , {<<"aliyun">>, [
                {sign_name, <<"xxx"/utf8>>}
                , {template_code, <<"">>}
                , {key_id, <<"">>}
                , {key_secret, <<"">>}
                , {region_id, <<"cn-shenzhen">>}
            ]}
        ]}

        , {sql_driver, pgsql}
        , {pg_conf
            , #{name => pgsql,
                max_count => 80,
                init_count => 5,
                start_mfa => {
                    epgsql
                    , connect
                    , [
                        #{
                            host => "localhost"
                            , username => "imboy_user"
                            , password => "123456"
                            , database => "imboy_v1"
                            , port => 5432
                            , ssl => false
                        }
                    ]
                }
            }
        }

        %% Depcache settings,
        , {depcache, [
            % maximum size in mbs
            {depcache_memory_max, 100}
        ]}

        , {crontab_jobs, [
            %% {JobName, CrontabSpec, {M, F, A}}
            %% {JobName, CrontabSpec, {M, F, A}, StartDateTime, EndDateTime}
            %% CrontabSpec
            %%  1. "Minute Hour DayOfMonth Month DayOfWeek"
            %%  2. "Second Minute Hour DayOfMonth Month DayOfWeek"
            %%  3. @yearly | @annually | @monthly | @weekly | @daily | @midnight | @hourly | @minutely
            %%  4. @every 1h2m3s

            %% Standard crontab spec without second (default second is 0 not *).
            {crontab_job, "*/15 * * * *", {demo_cron_logic, inspect, ["Runs on 0, 15, 30, 45 minutes"]}},
            %% Extend crontab spec with second.
            {extend_crontab_job, "0 0 1-6/2,18 * * *", {demo_cron_logic, inspect, ["Runs on 1,3,6,18 o'clock"]}},
            %% Crontab spec with alphabet.
            {alphabet_job, "@hourly", {demo_cron_logic, inspect, ["Runs every(0-23) o'clock"]}},
            %% Fixed interval spec.
            {fixed_interval_job, "@every 5m", {demo_cron_logic, inspect, ["Runs every 5 minutes"]}},
            %% Job with startDateTime and EndDateTime. Runs 0-23 o'clock since {11,0,0}.
            {limit_datetime_job, "@hourly", {demo_cron_logic, inspect, ["Runs every(0-23) o'clock"]}, {11, 0, 0}, unlimited},
            %% Job with max run count, default is `unlimited`
            {max_run_count_job, "@daily", {demo_cron_logic, inspect, ["Runs daily"]}, unlimited, unlimited, [{max_count, 1000}]},
            %% Parallel job, singleton default is true.
            {no_singleton_job, "@minutely", {timer, sleep, [61000]}, unlimited, unlimited, [{singleton, false}]}
        ]}
    ]}

    , {throttle, [
        {rates, [
            {refreshtoken, 11, per_minute}
            , {refreshtoken, 5, per_second}
            , {throttle_ws, 22, per_minute}
            , {throttle_ws, 10, per_second}
        ]}
    ]}

    %% Lager Bein %%%
    , {sasl, [
        {utc_log, true},
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 104857600},   % 100 MB max file size
        {error_logger_mf_maxfiles, 255}           % 255 files max
    ]}

    , {lager, [
        {log_root, "./log"}
        %% What handlers to install with what arguments
        , {handlers, [
            {lager_console_backend, [{level, debug},{level, debug},{formatter, lager_default_formatter},
                {formatter_config, [color, date," ",time, " [", severity, "] ", node,"#",pid, " ", message, "1",sev, "1","\n"]}]}
            , {lager_file_backend, [
                {file, "error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 999}]
            }
            , {lager_file_backend, [
                {file, "debug.log"}, {level, debug}, {size, 10485760}, {date, "$D0"}, {count, 999}]
            }
        ]}
        , {colored,true}
        , {colors, [
            {debug,     "\e[0:38m" },
            {info,      "\e[1;32m" },
            {notice,    "\e[1;36m" },
            {warning,   "\e[1;33m" },
            {error,     "\e[1;31m" },
            {critical,  "\e[1;35m" },
            {alert,     "\e[1;44m" },
            {emergency, "\e[1;41m" }
        ]}
    ]}
    %% Lager End %%%

    , {ecron, [
        {time_zone, local}, %% local or utc
        {global_quorum_size, 1},
        {global_jobs, [
            % 6个星号分别表示 秒，分钟、小时、日、月、周几
            {global_crontab_job, "*/1 * * * * *", {demo_cron_logic, inspect, ["Runs on 0, 15, 30, 45 seconds"]}}
        ]}
    ]}

    , {kernel, [
        {start_timer, true}
        , {logger_level, all}
    ]}
].
