worker_processes 1;
error_log __HOME__/logs/error.log;
pid __HOME__/run/nginx.pid;
events { worker_connections 128; }
http {
    include conf/0.realip.conf;
    include conf/vhosts/*.conf;
}
stream {
    include conf/tcp/*.conf;
}
